@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --dark: #0a1825;
  --dark2: #111217;
  --oren: #fe6500;
  --grape: #3232ac;
  --bg: #f5f5f5;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
button:hover {
  outline: unset;
}
button:focus {
  outline: unset;
}
.bg-header {
  background: var(--grape);
  header {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    width: 100%;
    z-index: 1000;
    transition: 0.3s;
    a {
      text-decoration: none;
      .logo {
        max-width: 80px;
      }
    }
    .navigation {
      position: relative;
      ul {
        display: flex;
        margin-bottom: 0px;
        li {
          list-style: none;
          a {
            display: inline-block;
            text-decoration: none;
            padding: 6px 18px;
            color: var(--white);
            background: var(--blue);
            border-radius: 40px;
            box-shadow: none;
            transition: 0.3s;
            margin-left: 20px;
          }
          .login {
            display: inline-block;
            text-decoration: none;
            padding: 6px 18px;
            color: var(--white);
            background: var(--grape);
            border-radius: 40px;
            box-shadow: none;
            transition: 0.3s;
            margin-left: 20px;
          }
          a:hover {
            background: var(--white);
            color: var(--blue);
          }
          a.active {
            background: var(--white);
            color: var(--blue);
          }
          .login:hover {
            background: var(--black2);
            color: var(--white);
          }
          .login.active {
            background: var(--black2);
            color: var(--white);
          }
        }
      }
    }
  }
  header.sticky {
    background: rgba(255, 255, 255, 0.267);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    width: 100%;
    z-index: 1000;
    transition: 0.3s;
    a {
      text-decoration: none;
      .logo {
        max-width: 80px;
      }
    }
    .navigation {
      position: relative;
      ul {
        display: flex;
        margin-bottom: 0px;
        li {
          list-style: none;
          a {
            display: inline-block;
            text-decoration: none;
            padding: 6px 18px;
            color: var(--white);
            background: var(--blue);
            border-radius: 40px;
            box-shadow: none;
            transition: 0.3s;
            margin-left: 20px;
          }
          .login {
            display: inline-block;
            text-decoration: none;
            padding: 6px 18px;
            color: var(--white);
            background: var(--grape);
            border-radius: 40px;
            box-shadow: none;
            transition: 0.3s;
            margin-left: 20px;
          }
          a:hover {
            background: var(--white);
            color: var(--blue);
          }
          a.active {
            background: var(--white);
            color: var(--blue);
          }
          .login:hover {
            background: var(--black2);
            color: var(--white);
          }
          .login.active {
            background: var(--black2);
            color: var(--white);
          }
        }
      }
    }
  }
  .content-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    .text-box {
      position: relative;
      h2 {
        font-size: 2.5em;
        line-height: 1.4em;
        font-weight: 800;
        color: var(--white);
        text-decoration: none;
        span {
          font-size: 1.5em;
        }
      }
      P {
        font-size: 1.1em;
        color: var(--white);
        font-weight: 300;
        text-align: justify;
      }
      .btn {
        display: inline-block;
        text-decoration: none;
        padding: 15px 18px;
        border-radius: 15px;
        color: var(--white);
        background: var(--blue);
        transition: 0.3s;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .btn:hover {
        letter-spacing: 2px;
      }
    }
    .img-box {
      position: relative;
      width: 100%;
      height: 100%;
      animation: mymove 4s infinite;
      animation-direction: alternate;
      @keyframes mymove {
        0% {
          top: -85px;
          top: 0px;
        }
        100% {
          top: 0px;
          top: -85px;
        }
      }
      img {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

.sci {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 30px;
  display: block;
  li {
    margin-bottom: 10px;
    list-style: none;
    a {
      filter: invert(1);
      transition: 0.3s;
    }
    a:hover {
      filter: invert(0);
    }
  }
}

//content
.manfaat {
  padding: 100px;
  .title-header {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      color: var(--grape);
      font-size: 30px;
      font-weight: 600;
      span {
        font-size: 35px;
        color: #fe6805;
        font-weight: 800;
      }
    }
    p {
      font-size: 20px;
      color: var(--black1);
    }
  }
  .card-manfaat {
    position: relative;
    padding: 15px;
    border: 2px solid #fe6805;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    .bg-manfaat {
      background: #db0f0f;
      width: 150px;
      height: 150px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      ion-icon {
        color: #ffff;
        font-size: 65px;
      }
    }
    .bg-manfaat2 {
      background: #d1c409;
      width: 150px;
      height: 150px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      ion-icon {
        color: #ffff;
        font-size: 65px;
      }
    }
    .bg-manfaat3 {
      background: #03d125;
      width: 150px;
      height: 150px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      ion-icon {
        color: #ffff;
        font-size: 65px;
      }
    }
    .bg-manfaat4 {
      background: #2c05dd;
      width: 150px;
      height: 150px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      ion-icon {
        color: #ffff;
        font-size: 65px;
      }
    }
    .content {
      text-align: center;
    }
  }
  .card-manfaat:hover {
    transform: scale(1.02);
  }
}
.post {
  padding: 100px;
  background: var(--bg);
  .text-box {
    position: relative;
    ul {
      display: flex;
      li {
        position: relative;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
          display: inline-block;
          text-decoration: none;
          background: var(--oren);
          padding: 10px;
          width: 100%;
          color: var(--white);
        }
        a.active {
          background: var(--black2);
        }
        a.active::before {
          content: " ";
          position: absolute;
          bottom: -4px;
          right: 72px;
          padding: 1px;
          width: 20px;
          height: 15px;
          background: var(--black2);
          transform: rotate(45deg);
        }
      }
    }
    h2 {
      color: var(--grape);
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    .post-content {
      position: relative;
      .bg-post {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--oren);
        width: 100%;
        height: 100px;
        ion-icon {
          font-size: 50px;
          color: navajowhite;
        }
      }
    }
  }
  .slide-box {
    .owl-theme .owl-nav {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      i.fas {
        font-size: 30px;
        opacity: 0.7;
      }
      i.fas:hover {
        opacity: 1;
      }
      .owl-theme .owl-nav [class*="owl-"]:hover {
        background: none !important;
        color: none !important;
        text-decoration: none;
      }
    }
    .owl-theme .owl-dots {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }
}
.detail {
  padding: 100px;
  background: var(--grape);
  .content-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    ion-icon {
      position: relative;
      padding: 20px;
      background: var(--white);
      font-size: 40px;
      border-radius: 50%;
      margin-bottom: 20px;
      color: var(--oren);
      transition: 0.3s;
    }
    ion-icon:hover {
      transform: scale(1.2);
    }
    h3 {
      font-size: 25px;
      font-weight: 700;
      color: var(--white);
    }
    p {
      font-size: 22px;
      margin-bottom: 0;
      color: var(--white);
    }
  }
}
.tanya {
  padding: 100px;
  .img-box {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-box {
    position: relative;
    h2 {
      color: var(--grape);
      font-size: 30px;
      font-weight: 600;
      span {
        font-size: 35px;
        color: #fe6805;
        font-weight: 800;
      }
    }
    p {
      font-size: 18px;
      color: var(--black1);
    }
    img {
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        background: var(--white);
        box-shadow: 0px 0px 20px 0px lightgrey;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
        color: var(--grape);
        font-size: 20px;
        font-weight: 600;
        a {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          text-decoration: unset;
          color: var(--grape);
          ion-icon {
            background: var(--grape);
            color: var(--white);
            padding: 10px;
            float: right;
            border-radius: 50%;
          }
          ion-icon.active {
            transform: rotate(180deg);
          }
        }
        .content-according {
          margin-top: 40px;
          p {
            font-size: 18px;
            font-weight: 400;
            color: var(--black1);
          }
        }
      }
    }
  }
}
.screen-sm {
  display: none;
}
//responsive
@media (max-width: 425px) {
  .post {
    padding: 100px;
    background: var(--bg);
    .text-box {
      position: relative;
      ul {
        display: flex;
        li {
          position: relative;
          list-style: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          a {
            display: inline-block;
            text-decoration: none;
            background: var(--oren);
            padding: 10px;
            color: var(--white);
          }
          a.active {
            background: var(--black2);
          }
          a.active::before {
            content: " ";
            position: absolute;
            bottom: -4px;
            right: 53px;
            padding: 1px;
            width: 20px;
            height: 15px;
            background: var(--black2);
            transform: rotate(45deg);
          }
        }
      }
      h2 {
        color: var(--grape);
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .post-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .bg-post {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--oren);
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .screen-sm {
    display: block;
  }
  section {
    padding: 20px !important;
  }
  .bg-header {
    header {
      padding: 20px;
      transition: 0.3s;
      a {
        .logo {
          max-width: 40px;
        }
      }
      .navigation {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        padding: 20px 25px;
        overflow: auto;
        transition: 0.5s;
      }
      .navigation.active {
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: block;
          li {
            margin-bottom: 20px;
            a {
              display: inline-block;
              text-decoration: none;
              padding: 6px 18px;
              color: var(--blue);
              background: none;
              border-radius: 40px;
              box-shadow: none;
              transition: 0.3s;
              margin-left: 20px;
            }
            .login {
              display: inline-block;
              text-decoration: none;
              padding: 6px 18px;
              color: var(--grape);
              background: none;
              border-radius: 40px;
              box-shadow: none;
              transition: 0.3s;
              margin-left: 20px;
            }
            a:hover {
              background: var(--blue);
              color: var(--white);
            }
            a.active {
              background: var(--blue);
              color: var(--white);
            }
            .login:hover {
              background: var(--black2);
              color: var(--white);
            }
          }
        }
      }
      .toggle {
        position: fixed;
        // top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background: var(--blue) url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        border-radius: 2px;
        cursor: pointer;
      }
      .toggle.active {
        position: fixed;
        right: 20px;
        width: 40px;
        height: 40px;
        background: var(--blue) url("../images/close.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        z-index: 1001;
      }
    }
    header.sticky {
      transition: 0.3s;
      padding: 20px;
      background: rgba(255, 255, 255, 0.267);
      a {
        .logo {
          max-width: 40px;
        }
      }
      .navigation {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        padding: 20px 25px;
        overflow: auto;
        transition: 0.5s;
      }
      .navigation.active {
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: block;
          li {
            margin-bottom: 20px;
            a {
              display: inline-block;
              text-decoration: none;
              padding: 6px 18px;
              color: var(--blue);
              background: none;
              border-radius: 40px;
              box-shadow: none;
              transition: 0.3s;
              margin-left: 20px;
            }
            .login {
              display: inline-block;
              text-decoration: none;
              padding: 6px 18px;
              color: var(--grape);
              background: none;
              border-radius: 40px;
              box-shadow: none;
              transition: 0.3s;
              margin-left: 20px;
            }
            a:hover {
              background: var(--blue);
              color: var(--white);
            }
            a.active {
              background: var(--blue);
              color: var(--white);
            }
            .login:hover {
              background: var(--black2);
              color: var(--white);
            }
          }
        }
      }
      .toggle {
        position: fixed;
        // top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background: var(--blue) url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        border-radius: 2px;
        cursor: pointer;
      }
      .toggle.active {
        position: fixed;
        right: 20px;
        width: 40px;
        height: 40px;
        background: var(--blue) url("../images/close.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        z-index: 1001;
      }
    }
    .content-header {
      margin-top: 50px;
      .text-box {
        margin-top: 75px;
      }
      .img-box {
        margin-top: 100px;
      }
    }
    .sci {
      top: 95%;
      transform: translateY(-20%);
    }
  }
  .manfaat {
    .card-manfaat {
      margin-bottom: 20px;
    }
  }
}
